@import 'tailwindcss';
@import "leaflet/dist/leaflet.css";


@theme{
  --color-bg: var(--bg);
  --color-text: var(--text);
}

:root {
  --bg: #ffffff;
  --text: #000000;
}

.dark{
  --bg: #121212;
  --text: #ffffff;
}

html {
  transition: background-color .3s, color .3s;
}
