body { overflow-x: hidden; }

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}

.grass {
  background-color: #A0BE38;
  height: 16px;
  width: 450px;
  z-index: 10;
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
}

.tree {
  margin: auto;
  position: relative;
  background-color: #91633F;
  height: 105px;
  width: 100px;
  top: 340px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    height: 30px;
    z-index: 4;
    bottom: 5px;
    left: 30px;
    background: #91633F;
  }
}

.tree__top {
  margin: auto;
  position: relative;
  height: 12px;
  background: #EAD292;
  width: 120px;
  left: -10px;
  top: -10px;
  border-radius: 10px 10px 0 0;
  z-index: 4;

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 10px;
    width: 100px;
    background: #91633F;
    height: 10px;
    top: 12px;
    z-index: 3;
  }
}

.tree__face {
  margin: auto;
  top: 7px;
  z-index: 3;
}

.tree__leye {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #392F21;
  top: 15px;
  left: 30%;
  border-radius: 100%;

  &:after {
    content: '';
    display: block;
    position: relative;
    height: 8px;
    width: 25px;
    top: -16px;
    left: -10px;
    background: #6C4B31;
    border-radius: 20px;
  }
}

.tree__reye {
  height: 10px;
  width: 10px;
  background-color: #392F21;
  position: absolute;
  top: 15px;
  left: 60%;
  border-radius: 100%;

  &:after {
    content: '';
    display: block;
    position: relative;
    height: 8px;
    width: 25px;
    top: -16px;
    left: -4px;
    background: #6C4B31;
    border-radius: 20px;
  }
}

.tree__mouth {
  height: 50px;
  width: 20px;
  top: -18px;
  border-radius: 30px;
  margin: auto;
  border: solid 5px #6C4B35;
  border-color: transparent transparent #6C4B35 transparent;

  &:before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: #6C4B35;
    border-radius: 50%;
    top: 46px;
    left: -9px;
    margin: auto;
  }

  &:after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: #6C4B35;
    border-radius: 50%;
    top: 41px;
    left: 9px;
    margin: auto;
  }
}

.tree__shade1 {
  z-index: 1;
  height: 110px;
  width: 15px;
  position: relative;
  left: 0px;
  top: -70px;
  background: #C29C57;

  &:before {
    content: '';
    display: block;
    z-index: 1;
    height: 100px;
    width: 120px;
    position: absolute;
    border: solid 15px;
    border-color: transparent #C29C57 transparent transparent;
    box-sizing: border-box;
    border-radius: 50%;
    bottom: -7px;
    right: -5px;
    transform: rotate(28deg);
  }
}

.tree__shade2 {
  z-index: 1;
  height: 110px;
  width: 15px;
  position: absolute;
  top: 0;
  left: 15px;
  background: #AB814E;

  &:before {
    content: '';
    display: block;
    z-index: 3;
    height: 90px;
    width: 120px;
    position: absolute;
    border: solid 15px;
    border-color: transparent #AB814E transparent transparent;
    box-sizing: border-box;
    border-radius: 50%;
    bottom: -7px;
    right: -5px;
    transform: rotate(30deg);
  }

  &:after {
    content: '';
    display: block;
    z-index: 2;
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 0;
    left: 1px;
    background: #91633F;
  }
}

.tree__shade3 {
  z-index: 2;
  height: 110px;
  width: 15px;
  position: absolute;
  top: 0;
  right: 15px;
  background: #AB814E;

  &:before {
    content: '';
    display: block;
    z-index: 3;
    height: 90px;
    width: 120px;
    position: absolute;
    border: solid 15px;
    border-color: transparent transparent transparent #AB814E;
    box-sizing: border-box;
    border-radius: 50%;
    bottom: -6px;
    left: -5px;
    transform: rotate(-30deg);
  }

  &:after {
    content: '';
    display: block;
    z-index: 2;
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #91633F;
  }
}

.tree__shade4 {
  z-index: 1;
  height: 110px;
  width: 15px;
  position: absolute;
  top: 0;
  right: 0;
  background: #91633F;

  &:before {
    content: '';
    display: block;
    z-index: 1;
    height: 90px;
    width: 120px;
    position: absolute;
    border: solid 15px;
    border-color: transparent transparent transparent #91633F;
    box-sizing: border-box;
    border-radius: 50%;
    bottom: -6px;
    left: -5px;
    transform: rotate(-30deg);
  }
}

.tree__shade5 {
  content: '';
  display: block;
  height: 40px;
  width: 15px;
  background: #855737;
  position: absolute;
  bottom: -10px;
  left: 43px;
  border-radius: 20px;
  z-index: 5;

  &:before {
    content: '';
    display: block;
    height: 15px;
    width: 15px;
    background: #855737;
    position: absolute;
    border-radius: 40%;
    bottom: 4px;
    left: 7px;
  }
}

.tree__trunk1 {
  position: absolute;
  z-index: -1;
  height: 50px;
  width: 40px;
  border: solid 15px;
  border-color: transparent transparent #91633F transparent;
  border-radius: 50%;
  top: 0;
  left: -35px;
  transform: rotate(30deg);

  &:before {
    content: '';
    height: 15px;
    width: 15px;
    position: absolute;
    display: block;
    background: #91633F;
    border-radius: 100%;
    left: -7px;
    bottom: -5px;
    transform: rotate(-30deg);
  }
}

.tree__trunk2 {
  position: absolute;
  z-index: -1;
  height: 50px;
  width: 70px;
  border: solid 15px;
  border-color: transparent #6D4B36 #6D4B36 #6D4B36;
  border-radius: 50%;
  bottom: -8px;
  right: -85px;
  transform: rotate(5deg);

  &:before {
    content: '';
    height: 16px;
    width: 16px;
    position: absolute;
    display: block;
    background: #6D4B36;
    top: -5px;
    right: -4px;
    transform: rotate(-5deg);
    border-radius: 50%;
  }
}

.tree__trunk3 {
  position: absolute;
  z-index: -1;
  height: 70px;
  width: 80px;
  border: solid 12px;
  border-color: transparent transparent #6D4B36 #6D4B36;
  border-radius: 50%;
  top: -40px;
  right: -60px;
  transform: rotate(-40deg);

  &:before {
    content: '';
    display: block;
    position: absolute;
    height: 10px;
    width: 50px;
    background: #91633F;
    transform: rotate(40deg);
    right: -34px;
    bottom: -8px;
  }
}

.tree__trunk3__leaf1 {
  position: absolute;
  height: 14px;
  width: 18px;
  background: #A0BE38;
  border-radius: 100px 0;
  left: 65px;
  top: 36px;
  transform: rotate(-50deg);
}

.tree__trunk3__leaf2 {
  position: absolute;
  height: 14px;
  width: 18px;
  background: #7C9A2C;
  border-radius: 100px 0;
  left: 112px;
  top: 75px;
  transform: rotate(25deg);
}

.tree__trunk3__leaf3 {
  position: absolute;
  height: 14px;
  width: 18px;
  background: #678127;
  border-radius: 100px 0;
  left: 95px;
  top: 95px;
  transform: rotate(125deg);
}

.flowers {
  margin: auto;
  position: relative;
}

/* Flower pink */
.flowers__pink {
  margin: auto;
  left: 37.6%;
  top: 250px;

  .flowers__stem {
    position: absolute;
    height: 80px;
    width: 80px;
    top: 2px;
    border: solid 10px;
    border-color: transparent transparent #7C9A2C #7C9A2C;
    border-radius: 45%;

    &:before {
      content: '';
      display: block;
      position: absolute;
      height: 10px;
      width: 10px;
      background: #678127;
      top: 25px;
      left: -10px;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 14px;
      width: 18px;
      background: #678127;
      top: 92px;
      left: 19px;
      border-radius: 100px 0px;
    }
  }

  .flowers__petals {
    z-index: 0;
    position: absolute;
    height: 30px;
    width: 30px;
    top: 2px;
    left: -8px;
    background: #9D416D;
    border-radius: 50%;
    border-radius: 100px 0px;
    transform: rotate(-40deg);

    &:before {
      content: '';
      display: block;
      z-index: 1;
      position: absolute;
      height: 35px;
      width: 25px;
      background: #E274A4;
      border-radius: 10px 100px 10px 100px;
      left: -8px;
      top: -8px;
      transform: rotate(50deg);
    }

    &:after {
      content: '';
      display: block;
      z-index: 1;
      position: absolute;
      height: 35px;
      width: 25px;
      left: 7px;
      top: 7px;
      background: #B75379;
      border-radius: 100px 10px 100px 10px;
      transform: rotate(38deg);
    }
  }

  .flowers__dot1 {
    height: 10px;
    width: 10px;
    background: #D0DFE2;
    position: absolute;
    border-radius: 50%;
    top: -12px;
    left: -7px;
  }

  .flowers__dot2 {
    height: 10px;
    width: 10px;
    background: #D0DFE2;
    position: absolute;
    border-radius: 50%;
    top: -12px;
    left: 14px;
  }
}

/* Flower blue */
.flowers__blue {
  margin: auto;
  left: 44.5%;
  top: 215px;

  .flowers__stem {
    position: absolute;
    height: 115px;
    width: 10px;
    background: #7C9A2C;
    box-shadow: 10px 85px 0px 0px #678127;

    &:before {
      z-index: 2;
      content: '';
      display: block;
      position: absolute;
      height: 10px;
      width: 10px;
      background: #678127;
      top: 10px;
      left: 0;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 14px;
      width: 18px;
      background: #E07335;
      top: 98px;
      left: -30px;
      border-radius: 0px 100px;
    }
  }

  .flowers__petals {
    z-index: 1;
    position: absolute;
    height: 35px;
    width: 25px;
    background: #8FC9FC;
    border-radius: 10px 100px 10px 100px;
    left: -22px;
    top: -24px;

    &:before {
      content: '';
      display: block;
      z-index: 2;
      position: absolute;
      height: 32px;
      width: 32px;
      top: 0px;
      left: 10px;
      background: #6AA4EE;
      border-radius: 50%;
      border-radius: 80px 10px 80px 30px;
      transform: rotate(-45deg);
    }

    &:after {
      content: '';
      display: block;
      z-index: 1;
      position: absolute;
      height: 35px;
      width: 25px;
      left: 26px;
      top: 0px;
      background: #5D89E6;
      border-radius: 100px 10px;
    }
  }
}

/* Flower orange */
.flowers__orange {
  margin: auto;
  left: 50%;
  top: 270px;

  .flowers__stem {
    position: absolute;
    height: 60px;
    width: 10px;
    background: #7C9A2C;
    box-shadow: 15px 43px 0px 6px #A0BE38;

    &:before {
      content: '';
      display: block;
      position: absolute;
      height: 10px;
      width: 10px;
      background: #678127;
      top: 10px;
      left: 0;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 10px;
      width: 20px;
      background: #7C9A2C;
      top: 51px;
      left: -20px;
    }
  }

  .flowers__petals {
    z-index: 0;
    position: absolute;
    height: 30px;
    width: 30px;
    top: -26px;
    left: -10px;
    background: #B15422;
    border-radius: 50%;
    border-radius: 100px 0px;
    transform: rotate(-45deg);

    &:before {
      content: '';
      display: block;
      z-index: 1;
      position: absolute;
      height: 35px;
      width: 25px;
      background: #E07335;
      border-radius: 10px 100px 10px 100px;
      left: -8px;
      top: -8px;
      transform: rotate(50deg);
    }

    &:after {
      content: '';
      display: block;
      z-index: 1;
      position: absolute;
      height: 35px;
      width: 25px;
      left: 7px;
      top: 7px;
      background: #D16126;
      border-radius: 100px 10px 100px 10px;
      transform: rotate(38deg);
    }
  }
}

/* Flower yellow */
.flowers__yellow {
  margin: auto;
  left: 42.6%;
  top: 260px;

  .flowers__stem {
    position: absolute;
    height: 80px;
    width: 25px;
    border: solid 10px;
    border-color: #A0BE38 #A0BE38 transparent transparent;
    border-radius: 0px 100px 100px 100px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      height: 30px;
      width: 15px;
      border: solid 10px;
      border-color: #A0BE38 transparent #A0BE38 #A0BE38;
      border-radius: 100px 0px 0px 100px;
      top: -50px;
      left: -22px;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 50px;
      width: 40px;
      border: solid 10px;
      border-color: transparent #7C9A2C #7C9A2C transparent;
      border-radius: 0px 0px 30px 0px;
      top: -110px;
      left: 3px;
    }
  }

  .flowers__petals {
    z-index: 0;
    position: absolute;
    height: 30px;
    width: 30px;
    top: -120px;
    left: 53px;
    background: #C37A28;
    border-radius: 50%;
    border-radius: 100px 0px;
    transform: rotate(-45deg);

    &:before {
      content: '';
      display: block;
      z-index: 1;
      position: absolute;
      height: 35px;
      width: 25px;
      background: #ECC33F;
      border-radius: 10px 100px 10px 100px;
      left: -8px;
      top: -8px;
      transform: rotate(50deg);
    }

    &:after {
      content: '';
      display: block;
      z-index: 1;
      position: absolute;
      height: 35px;
      width: 25px;
      left: 7px;
      top: 7px;
      background: #E19C34;
      border-radius: 100px 10px 100px 10px;
      transform: rotate(38deg);
    }
  }

  .flowers__dot1 {
    height: 10px;
    width: 10px;
    background: #D0DFE2;
    position: absolute;
    border-radius: 50%;
    top: -135px;
    left: 50px;
  }

  .flowers__dot2 {
    height: 10px;
    width: 10px;
    background: #D0DFE2;
    position: absolute;
    border-radius: 50%;
    top: -135px;
    left: 75px;
  }

  .flowers__dot3 {
    height: 10px;
    width: 10px;
    background: #D0DFE2;
    position: absolute;
    border-radius: 50%;
    top: -145px;
    left: 62px;
  }
}

/* Flower yellow2 */
.flowers__yellow2 {
  margin: auto;
  left: 56%;
  top: 310px;

  .flowers__stem {
    z-index: 1;
    position: absolute;
    height: 30px;
    width: 9px;
    background: #678127;
    transform: rotate(45deg);
  }

  .flowers__petals {
    background: linear-gradient(to right, #ECC33F 0%, #ECC33F 50%, #E19C34 50%, #E19C34 100%);
    position: absolute;
    height: 35px;
    width: 22px;
    top: -24px;
    left: 15px;
    border-radius: 100% 100% 100% 100%;
    transform: rotate(45deg);
  }
}

/* Flower purple */
.flowers__purple {
  margin: auto;
  left: 53.8%;
  top: 270px;

  .flowers__stem {
    position: absolute;
    height: 60px;
    width: 5px;
    border: solid 10px;
    border-color: transparent transparent transparent #678127;
    border-radius: 20px 0px 0px 0px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      height: 40px;
      width: 5px;
      border: solid 10px;
      border-color: transparent #678127 transparent transparent;
      border-radius: 0px 0px 20px 0px;
      top: -58px;
      left: -5px;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 14px;
      width: 18px;
      background: #7C9A2C;
      top: -33px;
      left: 23px;
      border-radius: 100px 0px;
    }
  }

  .flowers__petals {
    z-index: 1;
    position: absolute;
    height: 35px;
    width: 25px;
    background: #AE6CC8;
    border-radius: 10px 100px 10px 100px;
    left: -2px;
    top: -70px;

    &:before {
      content: '';
      display: block;
      z-index: 2;
      position: absolute;
      height: 32px;
      width: 32px;
      top: 0px;
      left: 10px;
      background: #8855C1;
      border-radius: 50%;
      border-radius: 80px 10px 80px 30px;
      transform: rotate(-45deg);
    }

    &:after {
      content: '';
      display: block;
      z-index: 1;
      position: absolute;
      height: 35px;
      width: 25px;
      left: 26px;
      top: 0px;
      background: #6A43A9;
      border-radius: 100px 10px;
    }
  }

  .flowers__dot1 {
    height: 10px;
    width: 10px;
    background: #D0DFE2;
    position: absolute;
    border-radius: 50%;
    top: -88px;
    left: 8px;
  }

  .flowers__dot2 {
    height: 10px;
    width: 10px;
    background: #D0DFE2;
    position: absolute;
    border-radius: 50%;
    top: -88px;
    left: 30px;
  }
}

.bird {
  z-index: -2;
  height: 50px;
  width: 50px;
  position: relative;
  margin: auto;
  left: 120px;
  top: 188px;
}

.bird__head {
  z-index: 1;
  position: relative;
  margin: auto;
  top: 2px;
  height: 14px;
  width: 12px;
  background: #D0DFE2;
}

.bird__body {
  position: relative;
  margin: auto;
  height: 40px;
  width: 28px;
  background: #89ADBB;
  border-radius: 100%;

  &:before {
    height: 8px;
    width: 8px;
    background: #59718B;
    border-radius: 100%;
    content: '';
    display: block;
    position: relative;
    top: 8px;
    left: 10px;
  }

  &:after {
    height: 0;
    width: 0;
    content: '';
    display: block;
    position: relative;
    top: 10px;
    left: 8px;
    border-width: 6px;
    border-style: solid;
    border-color: #59718B transparent transparent transparent;
  }
}

.bird__tail {
  z-index: -1;
  background: #59718B;
  position: relative;
  margin: auto;
  height: 20px;
  width: 18px;
  top: -5px;
}

.bird__note1 {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #D0DFE2;
  border-radius: 50%;
  left: 50px;
  top: -10px;

  &:before {
    content: '';
    display: block;
    position: relative;
    height: 10px;
    width: 3px;
    background: #D0DFE2;
    left: 7px;
    top: -6px;
  }

  &:after {
    content: '';
    display: block;
    position: relative;
    height: 7px;
    width: 10px;
    background: #D0DFE2;
    left: 7px;
    top: -20px;
  }
}

.bird__note2 {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #D0DFE2;
  border-radius: 50%;
  left: 15px;
  top: -28px;

  &:before {
    content: '';
    display: block;
    position: relative;
    height: 10px;
    width: 3px;
    background: #D0DFE2;
    left: 7px;
    top: -6px;
  }

  &:after {
    content: '';
    display: block;
    position: relative;
    height: 7px;
    width: 10px;
    background: #D0DFE2;
    left: 7px;
    top: -20px;
  }
}

.bird__note3 {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #D0DFE2;
  border-radius: 50%;
  left: 25px;
  top: -8px;

  &:before {
    content: '';
    display: block;
    position: relative;
    height: 10px;
    width: 3px;
    background: #D0DFE2;
    left: 7px;
    top: -6px;
  }

  &:after {
    content: '';
    display: block;
    position: relative;
    height: 7px;
    width: 10px;
    background: #D0DFE2;
    left: 7px;
    top: -20px;
  }
}

.bees {
  position: relative;
  left: 50%;
}

.bees__1 {
  height: 15px;
  width: 22px;
  border-radius: 44%;
  background: #ECC33F;
  position: absolute;
  left: -105px;
  top: 210px;
  transform: rotate(40deg);

  &:before {
    content: '';
    display: block;
    position: relative;
    height: 8px;
    width: 14px;
    background: #51524C;
    transform: rotate(-90deg);
    top: 3px;
    left: 4px;
  }
}

.bees__2 {
  height: 15px;
  width: 22px;
  border-radius: 42%;
  background: #ECC33F;
  position: absolute;
  left: -80px;
  top: 140px;

  &:before {
    content: '';
    display: block;
    position: relative;
    height: 15px;
    width: 8px;
    background: #51524C;
    left: 7px;
  }
}

.bees__3 {
  height: 15px;
  width: 22px;
  border-radius: 44%;
  background: #ECC33F;
  position: absolute;
  left: 55px;
  top: 150px;

  &:before {
    content: '';
    display: block;
    position: relative;
    height: 8px;
    width: 14px;
    background: #51524C;
    transform: rotate(-90deg);
    top: 3px;
    left: 4px;
  }
}